PORT=5000
MONGODB_URI=mongodb://localhost:27017/educhamp
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_PRIVATE_KEY=your_firebase_private_key
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
CLERK_SECRET_KEY=sk_test_zRgJbO9O6hXOSddiWXGkgby03MbcjJ0LAPk59PURak